body {
  margin: 0;
  font-family: 'Saira', sans-serif;
  background-color: #555;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
