body {
  margin: 0;
  font-family: 'Saira', sans-serif;
  background-color: #555;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  color: #333;
  background-color: #333;
  border: 1px rgb(61, 60, 60) solid;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

/* IMAGES */
.proj-img {
  display: flex;
  width: 40%;
  height: 300px;
  margin-bottom: 30px;
}
.playercare {
  background-image: url('./components/images/playercare.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.critiq {
  background-image: url('./components/images/critiq.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 5px;
}
.devcamper {
  background-image: url('./components/images/devcamper.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 5px;
}
.home-in {
  background-image: url('./components/images/home-in.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 5px;
}
.userch {
  background-image: url('./components/images/userch.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 5px;
}

.proj-info {
  margin: 20px;
  padding: 20px 0 20px 0;
  width: 50%;
}

/* OTHER */

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  vertical-align: bottom;
}

.html-logo {
  color: #f06529;
}
.css-logo {
  color: #3c99dc;
}
.js-logo {
  color: #f0db4f;
}
.react-logo {
  color: #61dbfb;
}
.node-logo {
  color: #3c873a;
}
.express-logo {
  /* color: #68a063; */
  color: #333331;
}
.mongo-logo {
  color: #4db33d;
}
.github-logo {
  color: #4183c4;
}
.bootstrap-logo {
  color: #8250f9;
}
.tailwind-logo {
  color: #52b5c2;
}
